.contenedor{
    border-radius: 15px;
    width: 30% !important;
    margin-top: 15% !important;
    margin-left: 35% !important;
    border: 5px !important;
}
.footer {
            height: 31px;
        }
.content {
  position: relative;
}
#sidebarigth {
  width: 100px;
  background-color: #616161;
  margin-right: 50px;
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  padding: 0;
  text-align: left;
  
}
#sidebarcontentsrigth {
  padding: 5px 0px 5px 0px;
  color: #616161;
}
